title: 'CROSS をしのぶ会 w/ ursm'
date: '2016-2-29 19:00'
bar_name: '肉のテーマパーク まる豚'
bar_url: 'http://tabelog.com/tokyo/A1310/A131002/13086497/'
budget: '2,000'
host: 'koic'
contact_number: '090-9999-9999'
contact_email: 'nomarebu@example.com'
entries:
  - 'flada-auxv'
  - 'hibariya'
  - 'hrysd'
  - 'kakutani'
  - 'koic'
  - 'kunitoo'
  - 'mhirata'
  - 'takkanm'
  - 'tanaka51'
  - 'ursm'
rendezvous_at_time: '19:00'
rendezvous_point: '神田駅北口の改札前'
deadline_for_cancel: '当日16:00'
